.vertical{
  display: inline;
  width: 80px;
  height: 20px;
  float: right;


}
li.vertical{
  border-right: 2px solid black;
  padding-right: 10px;
  list-style-type: none;

}

header{
  display: grid;
  float: right;
  width: 100%;
  height: 20%;
}
div.pesquisa{
  text-align: right;
  float: right;
}
nav{
  display: grid;
  width: 100%;
  height: 20%;
}

li.horizontal{
  display: inline-block;
  border: 2px solid black;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  float: right;
list-style-type: none;
}
li.ascide{
  border: 2px solid black;
  padding-left: 40px;
  margin-bottom: 20px;
  padding-right: 60px;
  background-color: lightgray;
  list-style-type: none;


}
ul.ascide{
  float: left;
}

div.ascide{
  float: left;
  border: 2px solid black;
  background-color: lightgray;
}
/*divisao tela principal*/
aside.sidebar{
  display: grid;
  width: 25%;
  float: left;
  margin-left: 5px;
  margin-top: 20px;

}
img.pro{
  padding: 10px;
    margin-top: 20px;
}

section.meio{
display: grid;
width: 48%;
float: left;
margin: 20px 20px 20px 20px;
}
aside.direita{
  display: grid;
  width: 23%;
float: right;
  margin-left: 5px;
  margin-top: 20px;

}

/*textos*/

a:link{
      text-decoration: none;
      color: black;
}
a{
  color: black;
}
p.art1p2{
  color: black;
  font-family: sans-serif;
}
/*editar section meio art1*/
div.pro2{
  float: left;
  width: 20%

}
div.textopro2{
  text-align: left;
}
img.pro2{
  width: 100px;
  height: 100px;
}
article.art1{
  height: 80%;
  background-color: lightgray;
  margin: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
}
a.morenews{
  float: right;

}

article.art2{
  background-color: lightgray;
  margin: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;

}

article.art3{
  background-color: lightgray;
  margin: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;

}
.divart3 h2, .divart3 a{
  display: inline-block;
  padding: 5px 5px 5px 5px;
}
.divart3 a{
  float: right;
}
/*editar tela direita*/
div.dir1{
  margin-top: 20px;
  margin-bottom: 20px;
padding: 5px 5px 5px 5px;
}
.youtube{
  width: 300px;
  height: 280px;
}

div.dir2{
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
}
.video{
width: 300px;
  float: left;
}
.videodir2{

}

div.dir3{
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
}
object.flash{
  width: 100%;
}
b.dir3texto{
  float: right;
}

footer{
  display: inline;
  padding-right: 5px;
  border-top: 5px solid: black;
  list-style-type: none;
}
li.footer{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 10px;
  list-style-type: none;
}
